<!-- 
<app-navbar></app-navbar> -->

<body>
    
    <div class="flex justify-center mt-10">
    <div *ngIf="hideToPay">
        <div class="h-510 w-500 p-20 border" *ngIf="!readyToVerify">
            <div class="flex justify-between	">
               <h2>
                   Fill Your Details!
               </h2>
               <div>
                   <!-- {{ isLoading ? 'Sending OTP...' : ' ' }} -->
                   <!-- <mat-progress-spinner  style="width: 25px; height: 25px;" *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner> -->
               </div>
            </div>
               <form [formGroup]="registrationForm" (ngSubmit)="verifydata()" >
                   <div class="form-control">
                       <input type="email" required formControlName="email" placeholder="Email">
                     
                   </div>
       
                   <div class="form-control">
                       <input type="text" required formControlName="studentName" placeholder="Student Name">
                      
                   </div>
   
                   <div class="form-control">
                       <input type="text" required formControlName="yearOfStudy" placeholder="Year Of Study">
                      
                   </div>
   
                   <div class="form-control">
                       <input type="text" required formControlName="demoTime" placeholder="Demo Time">
                      
                   </div>
   
                   <div class="form-control">
                       <input type="text" required formControlName="address" placeholder="Address">
                      
                   </div>
       
                   <div class="form-control">
                       <input type="number" required formControlName="phoneNo" placeholder="Phone No">
                     
                   </div>
           
                   <button type="submit"  >Submit</button>
                   <!-- <div class="form-help">
                       <a href="#">Need help?</a>
                   </div> -->
           
               </form>
           </div>
       
           <div  class="flex justify-center mt-10" *ngIf="readyToVerify">
           <div class="h-570 w-500 p-20 border">
               <h2>
                   Submit Otp!
               </h2>
               <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()" >
                   <div class="form-control">
                       <input type="number" required formControlName="otp" placeholder="Enter OTP...">
                   </div>
                   <button type="submit"  >Submit</button>    
               </form>
               <div class="form-help">
                   <button (click)="checkData()">Resend Otp</button>
               </div>
           </div>
           </div>
    </div>

        <div  class="flex justify-center mt-10" *ngIf="readyToPay">
            <div class="h-570 w-500 p-20 border">
                <h2>
                    Payment Details
                </h2>
                <form (ngSubmit)="paymentConfirm()" >
                    <label for="name">Student Name</label>

                    <div class="form-control">
                        <!-- <input type="text" required formControlName="studentName"  placeholder="student Name"> -->
                        <p>{{customerName}}</p>
                    </div>
                    <label for="name">Email</label>
                    <div class="form-control">
                        <!-- <input type="email" required formControlName="email" placeholder="Email"> -->
                        <p>{{userEmail}}</p>
                    </div>
                    <div class="form-controls">
                        <label for="field" style="font-size: 16px; display: block; margin-bottom: 10px;">For future updates only</label>
                      
                        <input type="radio" id="12_class" name="pre_book" value="12000" (change)="updateBillAmount(12000)">
                        <label for="12">Pre-book for 12 classes</label><br>
                      
                        <input type="radio" id="25_class" name="pre_book" value="25000" (change)="updateBillAmount(25000)">
                        <label for="25">Pre-book for 25 classes</label><br>
                      
                        <input type="radio" id="30_class" name="pre_book" value="30000" (change)="updateBillAmount(30000)">
                        <label for="30">Pre-book for 30 classes</label>
                      </div>
                      
                      <div>
                        <p style="font-size: 15px; ">Total Amount : INR - <strong>{{ billAmount }}</strong></p>
                      </div>

                    <button type="submit"  >Pay Now</button>    
                </form>
               
            </div>
            </div>
    </div>
    </body>
    